# Python
__pycache__
*.pyc
*.egg-info/
build/
dist/
# Virtual environment
venv/
env/
.venv/

# Playwright
# Recommended directory for storing authentication state
playwright/.auth/ 
# Temporary authentication file (if not using the recommended directory)
auth.json 
# Playwright browser driver files
driver/
playwright/driver/
screenshots/
videos/

# IDE files and other common ignores
.idea/
.vscode/
.DS_Store
# Test reports
htmlcov/
.coverage*
junit/
